/* .StudentHome-container{
    display: flex;
    width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
} */
.StudentHomepage{
    display: flex;
}
.app {
  padding: 20px;
}
.StudentHomepage-center {
  width: 100%;
  /* margin: auto; */
  padding: 10px;
  height: 790px;
  background-color: #F6F6F8;
}

.header {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cards-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.status-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.status-card h2 {
  margin: 5px 0;
}

.tag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.success {
  background: #e6f9f0;
  color: green;
}

.alert {
  background: #fef3c7;
  color: orange;
}

.bottom-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.recent-attendance,
.notifications {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
}
.notifications{
    max-height: 250px;
    overflow-y: auto;
}
.recent-attendance table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.recent-attendance th,
.recent-attendance td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.status.present {
  background: #d1fae5;
  color: green;
  padding: 3px 8px;
  border-radius: 8px;
}

.status.late {
  background: #fee2e2;
  color: red;
  padding: 3px 8px;
  border-radius: 8px;
}

.notifications .note {
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.note.warning {
  border-left: 4px solid orange;
}

.note.info {
  border-left: 4px solid blue;
}

.time {
  font-size: 12px;
  color: gray;
}
