.top-nav{
    width: auto;
    height: 75px;
    color: black;
    font-weight: normal;
    font-size: 25.3px;
    box-shadow: 0 0 0 0.5px #827f7f;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: #FFFFFF;
}